@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@layer base {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box
  }

  body {
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    /* background-color: rgb(227, 227, 227); */
    /* letter-spacing: 0.8px; */
  }
}

/* hero */
.btn-primary {
  @apply uppercase text-white bg-yellow-500 py-1.5 text-sm px-6 cursor-pointer
}

.btn-secondary {
  @apply uppercase text-yellow-500 font-semibold border border-yellow-500 py-2 px-8 cursor-pointer text-sm
}

/* about page */
.corner-clip {
  clip-path: inset(0px 0 0 0 round 200px 200px 0 0);
}

.custom-scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.custom-scroll::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  display: none;
  background: transparent;
}